<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Join The Fight!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <style>
        {% block style %}
        {% endblock %}
    </style>
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA">
                        <div class="navbar-start">
                            <table><tr>
                                <th>
                                    <a href="{{ url_for('main.index') }}" class="navbar-item">
                                        Home
                                    </a>
                                </th>
                                {% if current_user.is_authenticated %}
                                    <th>
                                        <a href="{{ url_for('main.profile') }}" class="navbar-item">
                                            Profile
                                        </a>
                                    </th>
                                    <th>
                                        <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                                            New User
                                        </a>
                                    </th>
                                    <th>
                                        <a href="/edit_org" class="navbar-item">
                                            New Organization
                                        </a>
                                    </th>
                                    <th>
                                        <a href="/find_org" class="navbar-item">
                                            Find Organization
                                        </a>
                                    </th>
                                    <th>
                                        <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                            Logout
                                        </a>
                                    </th>
                                {% endif %}
                                {% if not current_user.is_authenticated %}
                                    <th>
                                        <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                            Login
                                        </a>
                                    </th>
                                {% endif %}
                            </tr></table>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-left">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>
