{% extends "base.html" %}

{% block content %}
    <script>
        function goToNewPage() {
            if(document.getElementById('state_list').value){
                window.location.href = "/edit_state/" + document.getElementById('state_list').value;
            }
        }
        function hideShowSotS() {
            var sots_div = document.getElementById("SotS");
            if (sots_div.style.display === "none") {
                sots_div.style.display = "block";
            } else {
                sots_div.style.display = "none";
            }
        }
        function hideShowDefunct() {
            var defunct_div = document.getElementById("DefunctBills");
            if (defunct_div.style.display === "none") {
                defunct_div.style.display = "block";
            } else {
                defunct_div.style.display = "none";
            }
        }
        function hideShow(label) {
            var section = document.getElementById(label);
            if (section.style.display === "none") {
                section.style.display = "block";
            } else {
                section.style.display = "none";
            }
        }
    </script>

    <p><font size="+4">State of the State</font>
    {% if not current_user.admin %}
        Note: read only. Only admins may edit.
    {% endif %}

    <form method="POST" name="edit_state">
        {{ form.csrf_token }}
        {% if current_user.admin %}
            {% from "_formhelpers.html" import render_field with context %}
        {% else %}
            {% from "_displayhelpers.html" import render_field %}
        {% endif %}
        <br>
        <fieldset>
            <table style="width:100%"><tr>
                <td>{{ render_field(form.name, size=40) }}</td>
                <td>{{ render_field(form.threat_rating) }}</td>
                {% if current_user.admin and abbrev %}
                    <td>
                        <br>
                        <input type="submit" disabled style="display: none" aria-hidden="true" />
                        <input type="submit" value="Save Changes" style="width: 100px; height: 35px;">
                    </td>
                {% endif %}
            </tr></table>
            <br>
        </fieldset>
        <br>
        <fieldset>
            <p class="tab10">
                <font size="+2">Strategy</font>
                <button type="button" onclick="hideShow('Strategy')">Hide/Show</button>
            </p>
            <div class="tab10" id="Strategy" style="display:none">
            {{ render_field(form.republican_strategy, rows=30) }}
            {{ render_field(form.our_strategy, rows=30) }}
            </div>
            <br>
        </fieldset>
        <br>
        <fieldset>
            <p class="tab10">
                <font size="+2">State Government&nbsp;</font>
                <button type="button" onclick="hideShow('SotS')">Hide/Show</button>
            </p>
            <div class="tab10" id="SotS" style="display:none">
                {{ render_field(form.lege_desc, rows=6, cols=39) }}
                {{ render_field(form.lege_term, rows=6, cols=39) }}
                {{ render_field(form.state_officials, rows=6, cols=39) }}
                {{ render_field(form.supreme_court, rows=6, cols=39) }}
                {{ render_field(form.national_officials, rows=6, cols=39) }}
                {{ render_field(form.redistricting, rows=6, cols=39) }}
                <br>
            </div>
        </fieldset>
        <br>
        <div id="legislation"></div>
        <br>
        <fieldset>
            <div class="tab10">
            <p><font size="+2">{{ form.name.data }} Legislation</font></p>
            <p><a href="/edit_leg">Add New Legislation</a></p>
            <p>Currently Active</p>
            <table>
                <tr><th>Designation&nbsp;&nbsp;&nbsp;</th><th>Name&nbsp;&nbsp;&nbsp;</th><th>Threat Lvl&nbsp;&nbsp;&nbsp;</th></tr>
                {% for bill in current_legislation %}
                    <tr>
                        <td><a href="/edit_leg/{{ bill.id }}">{{ bill.abbrev }}</a></td>
                        <td><a href="/edit_leg/{{ bill.id }}">{{ bill.name }}</a></td>
                    <tr>
                {% endfor %}
            </table>
            <br>
            <p>Defunct  <button type="button" onclick="hideShow('DefunctBills')">Hide/Show</button></p>
            <div class="tab10" id="DefunctBills" style="display:none"><table>
                <tr><th>Designation&nbsp;&nbsp;&nbsp;</th><th>Name&nbsp;&nbsp;&nbsp;</th><th>Threat Lvl&nbsp;&nbsp;&nbsp;</th></tr>
                {% for bill in defunct_legislation %}
                    <tr>
                        <td><a href="/edit_leg/{{ bill.id }}">{{ bill.abbrev }}</a></td>
                        <td><a href="/edit_leg/{{ bill.id }}">{{ bill.name }}</a></td>
                        <td>{{ legislation_threat_lookup[bill.threat_level] }}</td>
                    <tr>
                {% endfor %}
            </table>
            </div>
        <br>
        </fieldset>
        <br>
        <fieldset>
            <div class="tab10">
            <p><font size="+2">{{ form.name.data }} Litigation</font></p>
            <p>Add New Litigation (coming soon!)</p>
            <p>Currently Active</p>
            <br><br>
            <p>Complete/Mooted   <button type="button" onclick="hideShow('DefunctLitigation')">Hide/Show</button></p>
            <div class="tab10" id="DefunctLitigation" style="display:none">
            <br><br>
            </div>
        <br>
        </fieldset>

        <br>
        {% from "_formhelpers.html" import render_field_no_label with context %}
        <fieldset>
            <div class="tab10">
            <p><font size="+2">Election Subversion/Politicization</font></p>
            <p><a href="https://docs.google.com/spreadsheets/d/1kwMh_5yEEC1YsVhp7u2PbsHDvqL-sy9y/edit#gid=1524397377">
                    Voting Threat Description Spreadsheet
            </a></p>

            <table style="width:100%">
                <tr>
                    <th><font size="-1">Threat<br>Present&nbsp;&nbsp;&nbsp;&nbsp;</font></th>
                    <th><font size="-1">Litigation<br>Response</font></th>
                    <th><font size="-1">DOJ<br>Response</font></th>
                    <th><font size="-1">Counter-<br>Organizing</font></th>
                    <th><font size="-1">Threat Name</font></th>
                </font></tr>
                    {% for threat, litigation, doj, organizing in election_threats %}
                        {% set label = threat.label %}
                        <tr>
                            <td>{{ render_field_no_label(threat) }}</td>
                            <td>{{ render_field_no_label(litigation) }}</td>
                            <td>{{ render_field_no_label(doj) }}</td>
                            <td>{{ render_field_no_label(organizing) }}</td>
                            <td>{{ label }}</td>
                        </tr>
                    {% endfor %}
                </tr>
            </table>
            </div>
        <br>
        </fieldset>
        <br>
        <fieldset>
            <p class="tab10"><font size="+2">Anti-Voter/Making It Harder To Vote</font></p>
            <div class="tab10"><table style="width:100%">
                <tr>
                    <th><font size="-1">Threat<br>Present&nbsp;&nbsp;&nbsp;&nbsp;</font></th>
                    <th><font size="-1">Litigation<br>Response</font></th>
                    <th><font size="-1">DOJ<br>Response</font></th>
                    <th><font size="-1">Counter-<br>Organizing</font></th>
                    <th><font size="-1">Threat Name</font></th>
                </tr>
                    {% for threat, litigation, doj, organizing in antivoter_threats %}
                        {% set label = threat.label %}
                        <tr>
                            <td>{{ render_field_no_label(threat) }}</td>
                            <td>{{ render_field_no_label(litigation) }}</td>
                            <td>{{ render_field_no_label(doj) }}</td>
                            <td>{{ render_field_no_label(organizing) }}</td>
                            <td>{{ label }}</td>
                        </tr>
                    {% endfor %}
            </table></div>
        <br>
        </fieldset>
        {% if current_user.admin and abbrev %}
            <input type="submit" value="Save" style="width: 100px; height: 35px;">
        {% endif %}

    </form>
<br><br>

{% endblock %}
