{% extends "base.html" %}

{% block content %}
    <script>
        function goToNewPage() {
            if(document.getElementById('state_list').value){
                window.location.href = "/edit_state/" + document.getElementById('state_list').value;
            }
        }
    </script>

    <p><font size="+4">Pick State</font>
    <form class="spec-table" name="dropdown">
        <select  id="state_list" onchange="goToNewPage()">
            <option selected value=""></option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="PR">Puerto Rico</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
        </select>
    </form>
    {% if not current_user.admin %}
        Note: read only. Only admins may edit.
    {% endif %}

    <form method="POST" name="edit_state">
        {{ form.csrf_token }}
        {% if current_user.admin %}
            {% from "_formhelpers.html" import render_field %}
        {% else %}
            {% from "_displayhelpers.html" import render_field %}
        {% endif %}
        <br>
        <fieldset>
            <table style="width:100%"><tr>
                <th>{{ render_field(form.name, size=40) }}</th>
                <th>{{ render_field(form.threat_rating) }}</th>
            </tr></table>
            <br>
        </fieldset>
        <fieldset>
            <p class="tab10"><font size="+2">Strategy</font></p>
            {{ render_field(form.republican_strategy, rows=6, cols=39) }}
            {{ render_field(form.our_strategy, rows=6, cols=39) }}
            <br>
        </fieldset>
        <br>
        <fieldset>
            <p class="tab10"><font size="+2">State of the State</font></p>
            {{ render_field(form.lege_desc, rows=6, cols=39) }}
            {{ render_field(form.lege_term, rows=6, cols=39) }}
            {{ render_field(form.state_officials, rows=6, cols=39) }}
            {{ render_field(form.supreme_court, rows=6, cols=39) }}
            {{ render_field(form.national_officials, rows=6, cols=39) }}
            {{ render_field(form.redistricting, rows=6, cols=39) }}
            <br>
        </fieldset>
        <br>
        {% from "_formhelpers.html" import render_field_no_label %}
        <fieldset>
            <p class="tab10"><font size="+2">Election Subversion/Politicization Threats</font></p>
            <div class="tab10"><table style="width:100%">
                <tr>
                    <th><font size="-1">Threat<br>Present&nbsp;&nbsp;&nbsp;&nbsp;</font></th>
                    <th><font size="-1">Litigation<br>Response</font></th>
                    <th><font size="-1">DOJ<br>Response</font></th>
                    <th><font size="-1">Counter-<br>Organizing</font></th>
                    <th><font size="-1">Threat Name</font></th>
                </font></tr>
                    {% for threat, litigation, doj, organizing in election_threats %}
                        {% set label = threat.label %}
                        <tr>
                            <td>{{ render_field_no_label(threat) }}</td>
                            <td>{{ render_field_no_label(litigation) }}</td>
                            <td>{{ render_field_no_label(doj) }}</td>
                            <td>{{ render_field_no_label(organizing) }}</td>
                            <td>{{ label }}</td>
                        </tr>
                    {% endfor %}
                </tr>
            </table></div>
        <br>
        </fieldset>
        <fieldset>
            <p class="tab10"><font size="+2">Anti-Voter/Voter Discouragement Threats</font></p>
            <div class="tab10"><table style="width:100%">
                <tr>
                    <th><font size="-1">Threat<br>Present&nbsp;&nbsp;&nbsp;&nbsp;</font></th>
                    <th><font size="-1">Litigation<br>Response</font></th>
                    <th><font size="-1">DOJ<br>Response</font></th>
                    <th><font size="-1">Counter-<br>Organizing</font></th>
                    <th><font size="-1">Threat Name</font></th>
                </tr>
                    {% for threat, litigation, doj, organizing in antivoter_threats %}
                        {% set label = threat.label %}
                        <tr>
                            <td>{{ render_field_no_label(threat) }}</td>
                            <td>{{ render_field_no_label(litigation) }}</td>
                            <td>{{ render_field_no_label(doj) }}</td>
                            <td>{{ render_field_no_label(organizing) }}</td>
                            <td>{{ label }}</td>
                        </tr>
                    {% endfor %}
            </table></div>
        <br>
        </fieldset>
        {% if current_user.admin and abbrev %}
            <input type="submit" disabled style="display: none" aria-hidden="true" />
            <input type="submit" value="Save" style="width: 100px; height: 35px;">
        {% endif %}

    </form>
{% endblock %}
