<!-- templates/profile.html -->

{% extends "base.html" %}

{% block style %}
    table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 75%;
    }
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
    }
    th {
        height: 70px;
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
    }
{% endblock %}

{% block content %}
    <p><font size="+4">Activist Organizations</font></p>
    <p><font size="+2">Find</font></p><br>    
    <form method="GET">
        {% from "_formhelpers.html" import render_field %}
        <fieldset>
        {{ render_field(form.org_name, size=40) }}
        {{ render_field(form.state) }}
        {{ render_field(form.issue) }}
        {{ render_field(form.population) }}
        </fieldset>
        <br>
        <input type="submit" value="Search" style="width: 100px; height: 35px;">
    </form>
    <br><br>

    {% if results %}
        <table>
            <tr><th>Org name</th><th>Org state</th></tr>
            {% from "_org_result.html" import org_list_item %}
            <style>
                a {
                    text-decoration: underline;
                }
                a:hover {
                    text-decoration: none;
                }
            </style>
            {% for result in results %}
                {{ org_list_item(result) }}
            {% endfor %}
        </table>
    {% else %}
        <p><font size="+2">No results.</font></p>
    {% endif %}
{% endblock %}
