<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<h2 class="subtitle">
  Further Sources of Information
</h2>
<div class="tab10">
    <a href="https://ballotpedia.org">
        Ballotpedia
    </a><br>
    <a href="https://tracker.votingrightslab.org/pending/snapshot">
        Voting Rights Lab State Voting Rights Tracker
    </a><br>
    <a href="https://docs.google.com/spreadsheets/d/1nWvvBRGMFbLM83gw8nEq4SeSFKCvp0lMwNq3t-d5WK0/edit#gid=554515035">
        Voting Rights Lab 50-State Chart
    </a><br>
    <a href="https://docs.google.com/ spreadsheets/d/1kwMh_5yEEC1YsVhp7u2PbsHDvqL-sy9y/ edit#gid=1524397377">
        Voting Threat Description Spreadsheet
    </a><br><br>
</div>

{% endblock %}
