{% extends "base.html" %}

{% block content %}
    <p><font size="+4">Edit User Profile</font></p>
    <p><font size="-1">Note: If you change your password or email you will be logged out.</font></p><br>
    <form method="POST">
        {{ form.csrf_token }}
        {% from "_formhelpers.html" import render_field with context %}
        <fieldset>
            <p></p>
            {{ render_field(form.name, size=40) }}
            {{ render_field(form.bj_nym, size=40) }}
            {{ render_field(form.email, size=40) }}
            <p class="tab10"><font size="-1">
                To change email, you must input your current password below.
            </font></p>
            {{ render_field(form.states) }}
            <p class="tab10"><font size="-1">
                Select multiple: control-click (Windows)/command-click (Mac)
            </font></p>
        </fieldset>
        <br>
        <fieldset>
            {{ render_field(form.old_password, size=40) }}
            <br>
            {{ render_field(form.new_password, size=40) }}
            {{ render_field(form.confirm, size=40) }}
            <br>
        </fieldset>
        <input type="submit" value="Save" style="width: 100px; height: 35px;">
    </form>
{% endblock %}
